.index {
  background-image: url(/images/background_transparent_short.png),
    linear-gradient(#203e40, #060c0d); /*https://stackoverflow.com/questions/5681813/transparent-background-image-with-a-gradient*/
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background: linear-gradient(#203e40, #060c0d);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: whitesmoke;
}

a:active {
  font-weight: bold;
}

header,
.sign-in_home,
.back,
main,
.footer_content {
  font-family: "Hero New", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}

.logo {
  max-width: 100px;
  margin: 0px;
}

nav li {
  /*browser ser etter en <nav> med en <li> inni*/
  display: inline-block; /*legger alle linkene ved siden av hverandre - horisontalt*/
  margin-left: 100px;
}
.sign-in_home,
.back {
  border: whitesmoke;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.sign-in_home:hover,
.back:hover {
  font-weight: bold;
  background-color: #f5f5f540;
  border: none;
}
h1 {
  font-size: 10em;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
}

h2 {
  font-weight: 100;
  color: white;
  text-transform: lowercase;
  font-size: 2em;
}

h3 {
  font-weight: bold;
}
.welcome_content {
  color: #f5f5f5;
  margin-top: -150px;
}

.welcome {
  display: flex;
  justify-content: center;
}
.welcome_message {
  font-size: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: -150px 0px -50px 0px;
}

.bold-h2 {
  font-weight: 700;
}
.cta_sign-in:hover {
  background-color: #f5f5f540;
  border-color: #f5f5f500;
}
.cta_sign-up:hover {
  border: 1.5px solid #f5f5f5;
  background-color: transparent; /*https://stackoverflow.com/questions/14803503/unable-to-remove-css-class-a-hover-background-color/14803537*/
}
.footer_content {
  font-size: 0.8em;
  display: flex;
  justify-content: space-around;
  padding: 10px;

  margin: 100px 101px 100px 0px;
}

.cta_content {
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px;
}

.cta_text {
  font-size: 1.5em;
  font-weight: lighter;
}
.cta_sign-in,
.cta_sign-up {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 25px;
  padding: 20px;
  margin: 0px 80px;
  white-space: nowrap;
}

.cta_sign-in {
  border: whitesmoke;
  border: 1.5px solid #f5f5f5;
}

.cta_sign-up {
  background-color: #f5f5f540; /*de siste tallene = opacity (%?)*/
}

/*FOR SIGN-IN ONLY*/
legend {
  display: none; /*skjuler legend - teksten som trengs for synshemmede*/
}

fieldset {
  margin-top: -100px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

fieldset {
  /*border around the form https://forums.modx.com/thread/47171/how-to-remove-this-border-around-the-form*/
  border-style: none;
}

.submit_sign-in {
  margin-bottom: 100px;
}

.input-text {
  color: white;
  text-transform: lowercase;
}
input {
  border: 1px solid whitesmoke;
  border-radius: 20px;
  margin: 20px;
  font-size: 1em;
  background: none;
  color: whitesmoke;
}

.type_account {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 90px;
  color: black;
  text-transform: lowercase;
  font-size: 1em;
}

.form__input {
  display: block;
  padding: 10px;
}

.submit {
  border: whitesmoke;
  color: whitesmoke;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  background-color: #f5f5f540;
  border-color: #f5f5f500;
}
.submit:hover {
  color: whitesmoke;
  font-weight: bold;
  background: none;
  border: 1px solid #f5f5f5;
  /*bakgrunnen til knappen*/
}
/* FOR SIGN UP ONLY*/

.forms_create-account {
  display: flex;
  margin-top: 50px;
  color: white;
  text-transform: lowercase;
  font-size: 1em;
}

label {
  color: whitesmoke;
}

.create_account {
  margin-top: 20px;
  color: whitesmoke;
}
.form_sign-in {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h1_create-account,
.h1_search {
  display: flex;

  justify-content: center;
  text-align: center;
  margin: 0px 0px -50px 0px;
}

.h2_create-account {
  text-transform: lowercase;
  font-size: 5em;
  margin: 0 auto;
  font-weight: thin;
}

/*gjør skjemaet vertikalt - må skrives inn bak alle elementene som skal gå nedover*/

/*FOR ACCOUNT PAGES ONLY*/

.my_account {
  border-top: whitesmoke;
  border-radius: 10px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.h1_light {
  font-weight: 100;
  color: yellowgreen;
}

.account-details {
  display: flex;
  justify-content: center;
}

.published_movies_info {
  display: flex;
}

.published_movies_dates {
  margin-top: 53px;
}

.vertical_line {
  width: 1px;
  float: left;
  background-color: whitesmoke;
  margin: 20px 100px;
}

.streams_left_number {
  font-size: 50px;
  font-weight: bold;
  margin-top: 75px;
  margin-left: 45px;
}

.cta_buy_more_streams {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 25px;
  padding: 20px;
  white-space: nowrap;
  background: transparent;
  border: 1.5px solid transparent;
  background-color: #f5f5f540;
  margin-left: 820px;
  margin-top: -250px;
  margin-bottom: 310px;
  max-width: 15%;
}

.cta_buy_more_streams:hover {
  border: whitesmoke;
  border: 1.5px solid #f5f5f5;
  background: transparent;
}
.cta_change_account {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 25px;
  padding: 20px;
  margin: 100px 80px;
  margin-top: -70px;
  white-space: nowrap;
  border: whitesmoke;
  border: 1.5px solid #f5f5f5;
  background: transparent;
}

.cta_change_account:hover {
  border: 1.5px solid transparent;
  background-color: #f5f5f540;
}

.change_between_accounts {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.background_behind {
  border: whitesmoke;
  color: whitesmoke;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: thin;
  font-size: 1em;
  background: none; /*bakgrunnen til knappen*/
}

/*FOR SEARCH PAGE ONLY*/

.form_search {
  /* display: flex;*/

  margin-top: -50px;
  color: white;
  text-transform: lowercase;
  font-size: 1em;
  margin-bottom: 200px;
}

.search_form {
  margin-top: 50px;
}
/*catalogue*/

.featured_movie-section {
  background-color: #f5f5f540;
  width: 1250px;
  height: 350px;
}

.featured_movie {
  display: flex;
  justify-content: left;
  margin-left: 50px;
  align-items: flex-end;
}

.title_placeholder-text {
  font-size: 4em;
  margin-top: 250px;
  color: whitesmoke;
}
.film-catalogue {
  margin-top: 100px;
}
.placeholder_card {
  background-color: #f5f5f540;
  width: 150px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: end;
}
.placeholder_text {
  color: tomato;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

i {
  /*HEART from https://fontawesome.com/icons/heart?style=solid*/
  color: teal;
  display: flex;
  justify-content: top;
}

.placeholder-row_01,
.placeholder-row_02,
.placeholder-row_03 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.placeholder-row_03 {
  margin-left: -10px;
}

.h2_film {
  display: flex;
  justify-content: left;
  margin-left: 215px;
  margin-bottom: -50px;
}
.arrow-left,
.arrow-right {
  font-size: 100px;
  font-weight: 100;
  color: whitesmoke;
}

/*SMALLER SCREENS*/

/* general*/
@media screen and (max-width: 900px) {
  nav ul li a {
    color: whitesmoke;
    font-size: 0.7em;
    display: flex;
    flex: auto;
    /* margin-left: -35px; */
  }

  h1 {
    font-size: 6em;
    margin-bottom: 150px;
    text-align: center;
  }
  .welcome {
    margin: 0 50px;
    margin: 200px;
  }
  .welcome_message {
    font-size: 0.8em;
  }

  .welcome_text {
    color: whitesmoke;
  }

  .cta_content {
    flex: 50%;

    justify-content: space-around;
    align-items: center;
    padding: 150px;
  }
  .cta_sign-in,
  .cta_sign-up {
    white-space: nowrap; /*https://developer.mozilla.org/en-US/docs/Web/CSS/white-space*/
    display: inline-block;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 20px;
  }

  /*account pages*/
  .my_account {
    border-top: whitesmoke;
    border-radius: 10px;
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .h1_light {
    font-weight: 100;
    color: whitesmoke;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 0.9em;
  }
  .account-details {
    display: flex;
    justify-content: center;
    margin-top: -100px;
  }

  .published_movies_info {
    display: flex;
  }

  .published_movies_dates {
    margin-top: 83px;
    margin-left: -100px;
  }

  .vertical_line {
    width: 1px;
    float: left;
    background-color: whitesmoke;
    margin: 20px 80px;
  }
  .footer_content {
    font-size: 1.2em;
  }
  /*CATLOGUE*/

  .featured_movie-section {
    background-color: #f5f5f540;
    width: 900px;
    height: 350px;
  }

  .title_placeholder-text {
    font-size: 3em;
    margin-top: 250px;
  }
  .film-catalogue {
    margin-top: 100px;
  }

  .placeholder_card {
    width: 100px;
    height: 200px;
    border-radius: 10px;
  }
  .placeholder-row_01,
  .placeholder-row_02,
  .placeholder-row_03 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
  .placeholder-row_03 {
    margin-left: -10px;
  }

  .h2_film {
    display: flex;
    justify-content: left;
    margin-left: 95px;
    margin-bottom: -50px;
  }
  .arrow-left,
  .arrow-right {
    font-size: 100px;
    font-weight: 100;
    color: whitesmoke;
  }
}

@media screen and (max-width: 750px) {
  /*account pages*/
  .my_account {
    border-top: whitesmoke;
    border-radius: 10px;
    font-size: 3.3em;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .h1_light {
    font-weight: 100;
    color: whitesmoke;
  }
  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 0.9em;
  }
  .account-details {
    display: flex;
    justify-content: center;
    margin-top: -100px;
  }

  .published_movies_info {
    display: flex;
  }

  .published_movies_dates {
    margin: 57px -50px;
  }

  .personal_info {
    margin-left: -100px;
    margin-right: 70px;
  }
  .placeholder_card {
    background-color: #f5f5f540;
    height: 190px;
    width: 80px;

    border-radius: 8px;
  }
  .placeholder-row_01,
  .placeholder-row_02,
  .placeholder-row_03 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    margin-bottom: 100px;
  }
  .placeholder-row_03 {
    margin-left: -10px;
  }

  .placeholder_card {
    /*froggy-spillet*/
    color: #f5f5f540;

    font-size: 0.8em;
  }
  .h2_film {
    display: flex;
    justify-content: left;

    margin-left: 90px;
    margin-bottom: 30px;
  }
  .arrow-left,
  .arrow-right {
    font-size: 50px;
    font-weight: 100;
    color: whitesmoke;
  }

  /*catalogue*/

  .featured_movie-section {
    width: 750px;
    height: 350px;
  }

  .title_placeholder-text {
    font-size: 2.5em;
    margin-top: 250px;
  }
  .film-catalogue {
    margin-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 4em;
  }
  header {
    margin: 0 -40px;
  }
  .sign-in_home,
  .back {
    font-size: 0.8em;
  }
  .welcome_message {
    font-size: 0.8em;
    margin: -170px;

    text-align: center;
  }

  .cta_content {
    justify-content: space-around;
    align-items: center;
    padding: 150px;
    margin: 100px 0;
    margin-bottom: 100px;
  }
  .cta_sign-in,
  .cta_sign-up {
    white-space: nowrap; /*https://developer.mozilla.org/en-US/docs/Web/CSS/white-space*/
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 0 30px;
  }

  li {
    padding: 0px;
  }
  /*account*/

  .my_account {
    border-top: whitesmoke;
    border-radius: 10px;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .h1_light {
    font-weight: 100;
    color: whitesmoke;
  }
  h2 {
    font-size: 1em;
  }

  .h2_create-account {
    font-size: 2.4em;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 0.9em;
  }
  .account-details {
    display: flex;
    justify-content: center;
    margin-top: -100px;
  }

  .published_movies_info {
    display: flex;
  }

  .published_movies_dates {
    margin: 57px -50px;
  }

  .personal_info {
    margin-left: -100px;
    margin-right: 70px;
  }

  /*SIGN IN*/

  .welcome_sign-in {
    font-size: 3em;
    margin-top: 160px;

    margin-bottom: 110px;
  }
  .input-text {
    margin-bottom: -10px;
  }
  .submit {
    margin-bottom: 50px;
  }
  /*catalogue*/
  .placeholder_card {
    background-color: #f5f5f540;
    width: 80px;
    height: 180px;
    border-radius: 10px;
  }
  .placeholder-row_01,
  .placeholder-row_02,
  .placeholder-row_03 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
  .placeholder-row_03 {
    margin-left: -10px;
  }

  .title_placeholder-text {
    font-size: 1.5em;
    margin-top: 120px;
    color: whitesmoke;
  }
  .featured_movie-section {
    width: 750px;
    height: 200px;
  }
  .h2_film {
    display: flex;
    justify-content: left;
    margin-left: 80px;
    margin-bottom: -50px;
    font-size: 2em;
  }
  .arrow-left,
  .arrow-right {
    font-size: 100px;
    font-weight: 100;
  }
}

@media screen and (max-width: 450px) {
  .welcome_message {
    margin: -150px 10px 100px;
  }

  .h2_film {
    margin-left: 30px;
    margin-bottom: -70px;
    font-size: 1.5em;
    margin-top: -50px;
  }
}
